# 3. Tri des listes

In [1]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
print(len(ma_liste), ma_liste)

13 [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

### Méthode de classe / native ```list.sort```

In [2]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [3]:
ma_liste.sort()
print(ma_liste)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [4]:
ma_liste.sort(reverse=True)
print(ma_liste)

[10, 9, 8, 8, 6, 6, 5, 5, 4, 3, 3, 2, 1]

In [5]:
ma_liste

[10, 9, 8, 8, 6, 6, 5, 5, 4, 3, 3, 2, 1]

In [6]:
ma_liste.sort()
ma_liste

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

### Méthode ```sorted```

In [7]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [10]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
new_list = sorted(ma_liste)
print(new_list)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [ ]:
sorted(ma_liste, reverse=True)

## Exercices

In [11]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

In [ ]:
# FYI: Implementation demo flag
def calculer_somme(L, demo = False):
    somme = 0
    for i in range(len(L)):
        somme += L[i]
        if demo:
            print(L[i], somme)
    return somme

In [ ]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
calculer_somme(ma_liste)

In [ ]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
calculer_somme(ma_liste, demo = True)

### Tri par sélection (min)

> **Démo avec jeux de cartes**

TO DO: Décrivez l'algorithme de tri par sélection en pseudo-code:  

Jordan:

Tant qu'il y a des cartes:
    je prends la plus faible
    je l'ajoute à une nouvelle liste
    je la supprime de L
je retourne la nouvelle liste
  
  
--

In [16]:
compteur = len(ma_liste)
while compteur > 0:
    print(compteur)
    compteur -= 1

13
12
11
10
9
8
7
6
5
4
3
2
1

In [17]:
# Implémentation du tri par sélection (utilisant fonction min())
def tri_selection(L, demo = False):
    # While / Jordan
    liste_triee = []
    while len(L) > 0:
        carte_min = min(L)
        liste_triee.append(carte_min)
        L.remove(carte_min)
    return liste_triee

In [18]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [19]:
ma_liste

[]

In [55]:
def tri_selection(L, demo = False):
    # C&C Abire
    L_tri=[]
    for i in range(len(L)):
        L_min=min(L)
        L.remove(L_min)
        L_tri.append(L_min)
    return L_tri

In [21]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [ ]:
ma_liste

In [22]:
# Implémentation du tri par sélection (utilisant fonction min())
def tri_selection(L, demo = False):
    # c&c Lamia, tri en place, nécessite de bien gérer les indices

    for i in range(len(L)-1):
        min_list=min(L[i:len(L)])
        index_min=L[i:len(L)].index(min_list)+i
        L[i],L[index_min]=L[index_min],L[i]
    return L

In [23]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [49]:
def tri_selection(L, demo = False):
    min_L=[]
    for e in range(len(L)-1):
        if e == min(L):
            min_L.append(e)
            L.remove(min(L))
    return(min_L)

In [50]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3]

In [39]:
def tri_selection(L, demo = False):
    min_L=[]
    for e in range(len(L)):
        tmp = min(L)
        min_L.append(tmp)
        L.remove(tmp)
    return(min_L)

In [40]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [42]:
def tri_selection(L, demo = False):
    min_L=[]
    for e in range(len(L)-1):
        if e == min(L):
            min_L.append(e)
            L.remove(min(L))
    return(min_L)

In [43]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3]

In [ ]:
# Implémentation du tri par sélection 
# (avec ré-implémentation d'une fonction min personnelle)
def tri_selection_complet(L, demo = False):
    pass

In [ ]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection_complet(ma_liste, True)

In [51]:
def tri_selecton(L,demo=False):
    min_L=[]
    for i in range(len(L)-1):
        if L[i]==min(L):
            min_L.append(L[i])
            L.remove(L[i])
    return(min_L)

In [52]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[1, 2, 3]

In [58]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]

In [60]:
def tri_selection(L, demo = False):
    S = []
    
    compteur = 0
    if demo:
        print(compteur, S)
    
    while len(L) > 0:
        compteur += 1
        
        emin = min(L) 
        S.append(emin)
        L.remove(emin)
        
        if demo:
            print(compteur, S)
    
    return S

In [61]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste)

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [63]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

0 []
1 [1]
2 [1, 2]
3 [1, 2, 3]
4 [1, 2, 3, 3]
5 [1, 2, 3, 3, 4]
6 [1, 2, 3, 3, 4, 5]
7 [1, 2, 3, 3, 4, 5, 5]
8 [1, 2, 3, 3, 4, 5, 5, 6]
9 [1, 2, 3, 3, 4, 5, 5, 6, 6]
10 [1, 2, 3, 3, 4, 5, 5, 6, 6, 8]
11 [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8]
12 [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9]
13 [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [64]:
def tri_selection_complet(L, demo = False):
    S = []
    compteur = 0
    if demo:
        print("{:3d}: {}".format(compteur, L))
    
    while len(L) > 0:
        
        emin = L[0]
        for e in L:
            compteur += 1
            if e < emin:
                emin = e
        
        S.append(emin)
        L.remove(emin)
        
        if demo:
            print(f"{compteur:3d}: {S}")
    return S

In [65]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection_complet(ma_liste, True)

  0: [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
 13: [1]
 25: [1, 2]
 36: [1, 2, 3]
 46: [1, 2, 3, 3]
 55: [1, 2, 3, 3, 4]
 63: [1, 2, 3, 3, 4, 5]
 70: [1, 2, 3, 3, 4, 5, 5]
 76: [1, 2, 3, 3, 4, 5, 5, 6]
 81: [1, 2, 3, 3, 4, 5, 5, 6, 6]
 85: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8]
 88: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8]
 90: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9]
 91: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

In [80]:
def tri_selection(L, demo = False):

    nouvelle_liste = []

    for i in range(len(L)):
        print(L)
        vmin = min(L)
        print(i, vmin, min(L), max(L), len(L), L)
        nouvelle_liste.append(vmin)
        L.remove(vmin)

    print("c'est ma nouvelle liste", nouvelle_liste)

In [81]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_selection(ma_liste, True)

[5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
0 1 1 10 13 [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
[5, 4, 8, 5, 8, 10, 3, 6, 6, 2, 3, 9]
1 2 2 10 12 [5, 4, 8, 5, 8, 10, 3, 6, 6, 2, 3, 9]
[5, 4, 8, 5, 8, 10, 3, 6, 6, 3, 9]
2 3 3 10 11 [5, 4, 8, 5, 8, 10, 3, 6, 6, 3, 9]
[5, 4, 8, 5, 8, 10, 6, 6, 3, 9]
3 3 3 10 10 [5, 4, 8, 5, 8, 10, 6, 6, 3, 9]
[5, 4, 8, 5, 8, 10, 6, 6, 9]
4 4 4 10 9 [5, 4, 8, 5, 8, 10, 6, 6, 9]
[5, 8, 5, 8, 10, 6, 6, 9]
5 5 5 10 8 [5, 8, 5, 8, 10, 6, 6, 9]
[8, 5, 8, 10, 6, 6, 9]
6 5 5 10 7 [8, 5, 8, 10, 6, 6, 9]
[8, 8, 10, 6, 6, 9]
7 6 6 10 6 [8, 8, 10, 6, 6, 9]
[8, 8, 10, 6, 9]
8 6 6 10 5 [8, 8, 10, 6, 9]
[8, 8, 10, 9]
9 8 8 10 4 [8, 8, 10, 9]
[8, 10, 9]
10 8 8 10 3 [8, 10, 9]
[10, 9]
11 9 9 10 2 [10, 9]
[10]
12 10 10 10 1 [10]
c'est ma nouvelle liste [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 9, 10]

---

### Tri à bulles (ou tri par propagation)

> **Démo avec jeux de cartes**

Autre illustration (Source: [wikipedia](https://en.wikipedia.org/wiki/Bubble_sort))

![Tri à Bulles](./img/bubble-sort.gif)

TO DO: Décrivez l'algorithme du tri à bulles en pseudo-code:  

  
  
  
--

In [12]:
# Implémentation
def tri_bulles(L, demo = False):
    n = len(L)
    compteur = 0
    if demo:
        print("{:3d}: {}".format(compteur, L))
    
    # Traverser tous les éléments du tableau
    for i in range(n-1, 1, -1):
        for j in range(0, i-1):
            compteur += 1
            # échanger si l'élément trouvé est plus grand que le suivant
            if L[j] > L[j+1] :
                L[j], L[j+1] = L[j+1], L[j]
            if demo:
                print(f"{compteur:3d}: {L}")
    return L

In [13]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_bulles(ma_liste, demo = True)

  0: [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
  1: [4, 5, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
  2: [4, 5, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
  3: [4, 5, 5, 8, 8, 10, 1, 3, 6, 6, 2, 3, 9]
  4: [4, 5, 5, 8, 8, 10, 1, 3, 6, 6, 2, 3, 9]
  5: [4, 5, 5, 8, 8, 10, 1, 3, 6, 6, 2, 3, 9]
  6: [4, 5, 5, 8, 8, 1, 10, 3, 6, 6, 2, 3, 9]
  7: [4, 5, 5, 8, 8, 1, 3, 10, 6, 6, 2, 3, 9]
  8: [4, 5, 5, 8, 8, 1, 3, 6, 10, 6, 2, 3, 9]
  9: [4, 5, 5, 8, 8, 1, 3, 6, 6, 10, 2, 3, 9]
 10: [4, 5, 5, 8, 8, 1, 3, 6, 6, 2, 10, 3, 9]
 11: [4, 5, 5, 8, 8, 1, 3, 6, 6, 2, 3, 10, 9]
 12: [4, 5, 5, 8, 8, 1, 3, 6, 6, 2, 3, 10, 9]
 13: [4, 5, 5, 8, 8, 1, 3, 6, 6, 2, 3, 10, 9]
 14: [4, 5, 5, 8, 8, 1, 3, 6, 6, 2, 3, 10, 9]
 15: [4, 5, 5, 8, 8, 1, 3, 6, 6, 2, 3, 10, 9]
 16: [4, 5, 5, 8, 1, 8, 3, 6, 6, 2, 3, 10, 9]
 17: [4, 5, 5, 8, 1, 3, 8, 6, 6, 2, 3, 10, 9]
 18: [4, 5, 5, 8, 1, 3, 6, 8, 6, 2, 3, 10, 9]
 19: [4, 5, 5, 8, 1, 3, 6, 6, 8, 2, 3, 10, 9]
 20: [4, 5, 5, 8, 1, 3, 6, 6, 2, 8, 3, 10, 9]
 21: [4, 5, 5, 8, 1, 3, 6, 6, 2, 3, 8, 10, 9]
 22: [4, 5, 5, 8, 1, 3, 6, 6, 2, 3, 8, 10, 9]
 23: [4, 5, 5, 8, 1, 3, 6, 6, 2, 3, 8, 10, 9]
 24: [4, 5, 5, 8, 1, 3, 6, 6, 2, 3, 8, 10, 9]
 25: [4, 5, 5, 1, 8, 3, 6, 6, 2, 3, 8, 10, 9]
 26: [4, 5, 5, 1, 3, 8, 6, 6, 2, 3, 8, 10, 9]
 27: [4, 5, 5, 1, 3, 6, 8, 6, 2, 3, 8, 10, 9]
 28: [4, 5, 5, 1, 3, 6, 6, 8, 2, 3, 8, 10, 9]
 29: [4, 5, 5, 1, 3, 6, 6, 2, 8, 3, 8, 10, 9]
 30: [4, 5, 5, 1, 3, 6, 6, 2, 3, 8, 8, 10, 9]
 31: [4, 5, 5, 1, 3, 6, 6, 2, 3, 8, 8, 10, 9]
 32: [4, 5, 5, 1, 3, 6, 6, 2, 3, 8, 8, 10, 9]
 33: [4, 5, 1, 5, 3, 6, 6, 2, 3, 8, 8, 10, 9]
 34: [4, 5, 1, 3, 5, 6, 6, 2, 3, 8, 8, 10, 9]
 35: [4, 5, 1, 3, 5, 6, 6, 2, 3, 8, 8, 10, 9]
 36: [4, 5, 1, 3, 5, 6, 6, 2, 3, 8, 8, 10, 9]
 37: [4, 5, 1, 3, 5, 6, 2, 6, 3, 8, 8, 10, 9]
 38: [4, 5, 1, 3, 5, 6, 2, 3, 6, 8, 8, 10, 9]
 39: [4, 5, 1, 3, 5, 6, 2, 3, 6, 8, 8, 10, 9]
 40: [4, 1, 5, 3, 5, 6, 2, 3, 6, 8, 8, 10, 9]
 41: [4, 1, 3, 5, 5, 6, 2, 3, 6, 8, 8, 10, 9]
 42: [4, 1, 3, 5, 5, 6, 2, 3, 6, 8, 8, 10, 9]
 43: [4, 1, 3, 5, 5, 6, 2, 3, 6, 8, 8, 10, 9]
 44: [4, 1, 3, 5, 5, 2, 6, 3, 6, 8, 8, 10, 9]
 45: [4, 1, 3, 5, 5, 2, 3, 6, 6, 8, 8, 10, 9]
 46: [1, 4, 3, 5, 5, 2, 3, 6, 6, 8, 8, 10, 9]
 47: [1, 3, 4, 5, 5, 2, 3, 6, 6, 8, 8, 10, 9]
 48: [1, 3, 4, 5, 5, 2, 3, 6, 6, 8, 8, 10, 9]
 49: [1, 3, 4, 5, 5, 2, 3, 6, 6, 8, 8, 10, 9]
 50: [1, 3, 4, 5, 2, 5, 3, 6, 6, 8, 8, 10, 9]
 51: [1, 3, 4, 5, 2, 3, 5, 6, 6, 8, 8, 10, 9]
 52: [1, 3, 4, 5, 2, 3, 5, 6, 6, 8, 8, 10, 9]
 53: [1, 3, 4, 5, 2, 3, 5, 6, 6, 8, 8, 10, 9]
 54: [1, 3, 4, 5, 2, 3, 5, 6, 6, 8, 8, 10, 9]
 55: [1, 3, 4, 2, 5, 3, 5, 6, 6, 8, 8, 10, 9]
 56: [1, 3, 4, 2, 3, 5, 5, 6, 6, 8, 8, 10, 9]
 57: [1, 3, 4, 2, 3, 5, 5, 6, 6, 8, 8, 10, 9]
 58: [1, 3, 4, 2, 3, 5, 5, 6, 6, 8, 8, 10, 9]
 59: [1, 3, 2, 4, 3, 5, 5, 6, 6, 8, 8, 10, 9]
 60: [1, 3, 2, 3, 4, 5, 5, 6, 6, 8, 8, 10, 9]
 61: [1, 3, 2, 3, 4, 5, 5, 6, 6, 8, 8, 10, 9]
 62: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 10, 9]
 63: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 10, 9]
 64: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 10, 9]
 65: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 10, 9]
 66: [1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 10, 9]

[1, 2, 3, 3, 4, 5, 5, 6, 6, 8, 8, 10, 9]

In [ ]:
pire_cas = [i for i in range(10, 0, -1)]
print(len(pire_cas), pire_cas)

In [ ]:
tri_bulles(pire_cas, True)

In [ ]:
# Le nb d'itérations dans ce cas est: n * (n + 1) / 2)
9 + 8 + 7 + 6 + 5 + 4 + 3 + 2 + 1

In [ ]:
# Ce qui est égal à n * (n + 1) / 2  avec n = 9
9 * 10 // 2

---
## Application à une liste de chaînes de caractère

**Rappel: Comparaison de chaînes de caractères**

In [ ]:
"Abc" > "cdf"

In [ ]:
"A" > "a"

In [ ]:
"Vincent" > "Christophe"

In [ ]:
"Vincent" > "christophe"

In [56]:
promo = ['Théo', 'Philippe', 'Lamia', 'Marvin', 
         'Maëlle', 'Yoann', 'Jonathan', 'Corentin', 
         'Joris', 'Matthias', 'Alicia', 'Izak', 
         'Mayel', 'Corentin', 'Jordan', 'Abire' 
]

In [57]:
tri_selection(promo)

['Abire',
 'Alicia',
 'Corentin',
 'Corentin',
 'Izak',
 'Jonathan',
 'Jordan',
 'Joris',
 'Lamia',
 'Marvin',
 'Matthias',
 'Mayel',
 'Maëlle',
 'Philippe',
 'Théo',
 'Yoann']

In [54]:
sorted(promo)

['Abire',
 'Alicia',
 'Corentin',
 'Corentin',
 'Izak',
 'Jonathan',
 'Jordan',
 'Joris',
 'Lamia',
 'Marvin',
 'Matthias',
 'Mayel',
 'Maëlle',
 'Philippe',
 'Théo',
 'Yoann']

In [ ]:
tri_bulles(promo, True)

---
## Pour aller plus loin

Voir 
- [Complexité algorithmique en temps](https://fr.wikipedia.org/wiki/Complexit%C3%A9_en_temps)
- [Algorithme de tri sur Wikipedia](https://fr.wikipedia.org/wiki/Algorithme_de_tri)

### Tri à bulles optimisé
TO DO: Imaginer ou rechercher sur internet une possibilité d'améliorer le tri à bulles

In [ ]:
def tri_bulles_optimise(L):
    pass

In [ ]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_bulles_optimise(ma_liste)

### Tri fusion (merge sort)

In [ ]:
def tri_fusion(L):
    pass

In [ ]:
ma_liste = [5, 4, 8, 5, 8, 10, 1, 3, 6, 6, 2, 3, 9]
tri_fusion(ma_liste)